extends layout

block content

    div.container-fluid
        div.row
            div.col-xs-12
                h3 Add a new word
        div.row
            div.col-xs-12
                form#word-form.form-inline
                    div.form-group
                        input#word.form-control(type="text" name="name" placeholder="Word")
                        input#translation.form-control(type="text" name="translation" placeholder="Translation")
                    button.btn.btn-primary(type="submit") Add
        div.row
            div.col-xs-12
                h3 Current Words
        div.row
            div#wordset-list.col-xs-12

        script(type='text/javascript').
            var data = !{JSON.stringify(data)};

        script(id="word-template" type="text/x-handlebars-template")
            div.row.wordset-row(_id="{{_id}}")
                div.col-xs-4.inner.word.
                    {{w}}
                div.col-xs-4.inner.translation.
                    {{t}}
                div.col-xs-2.wordset-icon
                    button.btn.btn-primary.btn-sm.edit(type="button")
                        span.glyphicon.glyphicon-pencil
                    button.btn.btn-primary.btn-sm.delete(type="button")
                        span.glyphicon.glyphicon-remove
                    
    script(type="text/javascript" src="/javascript/wordset.js")
