extends layout

block content

    div#wordsets.container-fluid
        div.row
            div.col-xs-12
                h3 Add a new Word Set
        div.row
            div.col-xs-12
                form.form-inline(action="/wordsets/add" method="post")
                    div.form-group
                        input#wordset-name.form-control(type="text" name="name" placeholder="Word Set name")
                    button.btn.btn-primary(type="submit") Add
        div.row
            div.col-xs-12
                h3 Current Word Sets
        div.row(v-for="wordset in wordsets")
            div#wordset-list.col-xs-12
                div.row.wordset-row(:id="wordset._id")
                    div.col-xs-4.inner.wordset-name(v-on:click="editWordset(wordset._id)")
                        span {{ wordset.name }}
                    div.col-xs-2.inner.word-count
                        span {{ wordset.words.length}} words
                    div.col-xs-2.wordset-icon
                        button.btn.btn-primary.btn-sm.edit(type="button" v-on:click="editWordset(wordset._id)")
                            span.glyphicon.glyphicon-pencil
                        button.btn.btn-primary.btn-sm.delete.wordset-delete(type="button" v-on:click="deleteWordset(wordset._id)")
                            span.glyphicon.glyphicon-remove
    script(type='text/javascript').
            const jsonData = !{JSON.stringify(data)};