body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(91.3%, 91.3%, 91.3%);
}

h3 {
  font-size: 16px;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

a {
  color: #00B7FF;
}

form {
  margin: 10px 0;
}

.wordset-row, .sentence-row {
  margin: 10px 0;
}

.wordset-row .inner, .sentence-row .inner {
  line-height: 40px;
  font-size: 16px;
  background-color: #F8F8F8;
  margin-right: 5px;
}

.wordset-icon {
  line-height: 40px;
}

.wordset-icon .btn {
  margin-right: 5px;
  font-size: 15px;
}

.wordset-name {
  cursor: pointer;
}